.container {
  display: flex;
  align-items: center;
  background: #fbfbfb;
  border-radius: 30px;
  padding: 11px 20px 11px 15px;
  height: 130px;

  & + & {
    margin-top: 20px;
  }

  @media screen and (max-width: 1440px) {
    padding: 10px;
  }
}

.image {
  border-radius: 30px;
  width: 108px;

  @media screen and (max-width: 1440px) {
    width: 80px;
  }
}

.name {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  overflow: hidden;
  // text-overflow: ellipsis;

  color: #414141;
}

.informationContainer {
  margin-left: 20px;
  width: 100%;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
  // padding: 0 10px;
  margin-top: 10px;
  padding-right: 20px;
}

.price {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.likeContainer {
  position: relative;
  width: 31.5px;
  height: 31.5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  &:hover .black {
    background-color: #414141;
  }
}

.like {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  height: 100%;

  z-index: 999;
}

.black {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 25px;
  height: 25px;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 800;
}

.blackAll {
  background-color: #414141;
}
