.container {
  padding: 45px 30px;
  background: #ffffff;
  border: 2px dashed #414141;
  border-radius: 30px;
  width: 20%;
  min-height: 800px;
  height: 100%;

  @media screen and (max-width: 1440px) {
    padding: 45px 20px;
    width: 23%;
  }
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clearButton {
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  overflow: hidden;
  color: #414141;

  padding: 5px 7px;
  border-radius: 4px;
  border: none;

  cursor: pointer;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: #d6d6d6;
  }
}

.title {
  font-family: 'Anek Telugu';
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: #414141;
}

.list {
  margin-top: 27px;
}
